.fileInputContainer {
  border-radius: 5px;
  padding: 10px 10px 5px 10px;
}

.fileInputContainerText {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fileInputContainerButton {
  display: flex;
  justify-content: end;
  align-items: center;
}