.page_table_arrow_icons{
  font-size: 14px;
  padding-top: 2px;
}

.modalBtn{
  margin-right: 3rem;
}

.fixed-user-card{
  height: 53vh !important;
}

.fixed-user-card-content{
  height: 100%;
  overflow: scroll;
}

.width-75{
  width: 75vw !important;
}

.width-60{
  width: 60vw !important;
}